.filter-search {
  background-color: $filter-background;
  color: $color-primary;
  font-weight: $font-weight-bold;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.2rem;
  overflow: hidden;
}

.text-filter {
  padding: 0.5rem 0.7rem 0.4rem 0.7rem;
}

.delete-button {
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $black-green;
    cursor: pointer;
  }
}
