.pill {
  background-color: $color-primary;
  color: white;
  font-size: 80%;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  border-radius: 500px;
}

.dark {
  background-color: $black-green;
}
